.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.calendar{
    margin-top: 50px;
    width: 50vw;
    height: auto;
   }