/* Calendar.module.css */

/* Estilos para el diálogo */
.dialog {
    padding: 20px ;
  }
  
  /* Estilos para el encabezado de la tabla */
  .tableHeaderCell {
    font-weight: bold;
  }
  
  /* Estilos para las celdas de la tabla */
  .tableCell {
    padding: 12px;
  }
  
  /* Estilos para el campo de entrada de correo electrónico */
  .emailInput {
    margin-right: 10px;
  }
  
  /* Estilos para el botón Agregar */
  .addButton {
    margin-top: 10px;
  }
  